.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem 6rem;
    padding: 8rem 0;
}

.about__title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
}

.about__des {
    padding: 1rem 3rem;
}

.about__des li {
    text-align: center;
    padding: .5rem 0;
    font-size: 1.4rem;
}

.about__img img{
    width: 100%;
}

@media (max-width:820px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
    }
}