@keyframes  hoverLink{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 64, 64);
    position: fixed;
    width: 100vw;
    top: 0;
    height: 5rem;
    z-index: 1000;
}

.logo {
    height: 5rem;
    width: auto;
    margin-left: 5rem;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}

.social li a {
    color: #fff;
    padding: 0 1rem;
    display: flex;
}

.authen {
    color: #fff;
    display: flex;
}

.social li svg {
    display: inline-block;
    margin-right: 1rem;
}

.view__box {
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    padding: 2rem;
    top: 100%;
    position: absolute;
    max-width: 30rem;
}

.cart a::after {
    display: block;
    content: "";
    width: 3rem;
    height: 1.6rem;
    z-index: 200;
}

.view__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.view__item img {
    width: 100%;
}

.cart:hover .view__box {
    opacity: 1;
    transition: 1.5s;
    visibility: visible;
}
.item__name {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
}

.item__size {
    display: block;
    margin: 1rem 0;
}

.total {
    display: flex;
    justify-content: space-between;
    color: #555;
    padding-right: 10rem;
    margin: 1rem 0;
}

.check {
    border-top: #555 .1rem solid;
    margin-top: 2rem;
    padding-top: 2rem;
}

.btn__checkout {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    color: #fff;
    background-color: #f04141 ;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
}
.btn__view {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    color: #000;
    border: none;
    cursor: pointer;
}

/* .social li a:hover .view__item{
    visibility: visible;
    opacity: 1;
    z-index: 10;
} */
@media (max-width:76.7rem) {
    .menu {
        display: none;
    }
}